
{% extends 'base.html' %}
{% block content %}
  <p>Average rating: {{ average }}</p>
    {% if prediction %}
      <p>We predict you will rate this movie {{ prediction }}.</p>
    {% endif %}
    
    {% if user_rating %}
      <p>You've previously rated this a {{ user_rating.score }}.</p>
    {% endif %}
    
  <h2>Add/Update Rating for {{ movie.title }}</h2>
    <form action="/movies/{{ movie.movie_id }}/user-rating" method="POST">
      Please rate this movie on a scale of 1 to 5:
        <select name="score">
          <option value=1>1</option>
          <option value=2>2</option>
          <option value=3>3</option>
          <option value=4>4</option>
          <option value=5>5</option>
        </select>
        <input type="submit">
    </form> 



{% endblock %}